<!doctype html>
<html ng-app="freetime">
<head>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel="stylesheet" href="../css/bootstrap-theme.min.css">
<script type="text/javascript" src="../js/angular.js"></script>
<script type="text/javascript" src="../js/background.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>

<script src="https://apis.google.com/js/client.js?onload=init"></script>
</head>
<body>
	<div ng-controller="FreeTimeController as freetime">
		<div id="authorize-div" ng-hide="freetime.authorized">
			<h2>Please sign in and provide access to your calendar.</h2>
			<span>Authorize access to Google Calendar API</span>
			<button ng-click="freetime.authenticate()">Authorize</button>
		</div>

		<div ng-show="freetime.authorized">
			<div>
				<button ng-click="freetime.loadEvents()">Load events</button>
			</div>


			<div>Preferences</div>
			<ul>
				<li>Shortest time slot:
					{{freetime.preferences.shortestTimeSlotMinutes}}</li>
				<li>Load status: {{freetime.loadStatus}}</li>
				<li>Authenication: {{freetime.authorized}}</li>
			</ul>
			<br />

			<div id="data">
				<h2>Available times</h2>
				<ol>
					<li ng-repeat="period in freetime.availableBlocks">
						{{period.start | date:'EEEE' }} {{period.start | date:'shortTime'
						}} to {{period.start | date:'shortTime'}}</li>
				</ol>
			</div>
		</div>
	</div>

</body>
</html>
